Repository hegerdes/ansible-playbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: image-build-playbooks, image-build-ingress-genarator, ingress-test-image-prebuild, ingress-test-image-build

image-build-playbooks:
  variables:
    BUILD_IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_REF_NAME

image-build-ingress-genarator:
  variables:
    DOCKERFILE: $CI_PROJECT_DIR/ingress-generator/Dockerfile
    CONTEXT: $CI_PROJECT_DIR/ingress-generator/
    BUILD_IMAGE_TAG: $CI_REGISTRY_IMAGE/ingress-genarator:$CI_COMMIT_REF_NAME

ingress-test-image-prebuild:
  variables:
    INGRESS_BASE_DIR: $CI_PROJECT_DIR/ingress-generator
    INGRESS_DOCKERFILE: $INGRESS_BASE_DIR/Dockerfile.test.nginx

ingress-test-image-build:
  variables:
    INGRESS_BASE_DIR: $CI_PROJECT_DIR/ingress-generator
    INGRESS_DOCKERFILE: $INGRESS_BASE_DIR/Dockerfile.test.nginx
    INGRESS_IMAGE_NAME: $CI_REGISTRY_IMAGE/ingress-test-image

Allow multible php hosts
  roles/mgmt/templates/mgmt-stack-db-phpmyadmin.yml.j2
Due: image-build-playbooks

Fix setting more than one folating ip
  shared/set-floting-ip.yml
Due: image-build-playbooks

Fix permission error in backup play
  Dockerfile
  roles/maintenance/tasks/host-backups.yml
  roles/mgmt/defaults/main.yml
  roles/mgmt/templates/archive-backups.sh.j2
  roles/mgmt/templates/mgmt-stack-traefik.yml.j2
Due: image-build-playbooks

Added project name to log paths
  roles/maintenance/tasks/system-updates.yml
Due: image-build-playbooks

Use new status-monitor
  roles/maintenance/files/hcloude-snapshot.js
  roles/mgmt/templates/mgmt-stack-symbic-status-monitor.yml.j2
Due: image-build-playbooks

Allow yaml file extentions for compose files
  roles/docker-deploy/tasks/deploy-stack.yml
  roles/docker-deploy/tasks/main.yml
Due: image-build-playbooks

Debug Comment on GitLab issue
  roles/maintenance/defaults/main.yml
  roles/maintenance/tasks/system-updates.yml
Due: image-build-playbooks

Debug Comment on GitLab issue
  roles/maintenance/tasks/system-updates.yml
Due: image-build-playbooks

Make allowed_subnets configuarable
  ingress-generator/nginx-default-site.conf.j2
  ingress-generator/nginx/conf.d/internal-status.conf
Due: image-build-ingress-genarator, ingress-test-image-prebuild, ingress-test-image-build

Added extra host for nginx exporter
  roles/maintenance/defaults/main.yml
  roles/mgmt/templates/mgmt-stack-nginx-exporter.yml.j2
Due: image-build-playbooks

Added optional extra traefik listeners
  roles/mgmt/defaults/main.yml
  roles/mgmt/templates/mgmt-stack-traefik.yml.j2
Due: image-build-playbooks

Autogenerate a gomain list for waf
  ingress-generator/generate-ingress-conf.js
Due: image-build-ingress-genarator, ingress-test-image-prebuild, ingress-test-image-build

Allow use of own ssl options
  ingress-generator/nginx-site.conf.j2
Due: image-build-ingress-genarator, ingress-test-image-prebuild, ingress-test-image-build

Fix deploy playbook
  roles/docker-deploy/tasks/main.yml
Due: image-build-playbooks

Use mattermost hook url from env
  ingress-generator/nginx-default-site.conf.j2
  roles/maintenance/defaults/main.yml
Due: image-build-playbooks, image-build-ingress-genarator, ingress-test-image-prebuild, ingress-test-image-build

Added additional nginx log format
  ingress-generator/nginx/nginx.conf
Due: image-build-ingress-genarator, ingress-test-image-prebuild, ingress-test-image-build

Added webhook tool
  .gitlab-ci.yml
  tools/webhooks/Dockerfile
  tools/webhooks/hooks/hook-demo.sh
  tools/webhooks/hooks/hooks.yml
Due: none

Cleanup
  roles/mgmt/tasks/install-backup-script.yml
  roles/mgmt/templates/mgmt-stack-symbic-status-monitor.yml.j2
  tools/webhooks/Dockerfile
Due: image-build-playbooks

Allow https only pages
  ingress-generator/generate-ingress-conf.js
  ingress-generator/ingress-hosts-nginx.yml
  ingress-generator/nginx-site.conf.j2
Due: image-build-ingress-genarator, ingress-test-image-prebuild, ingress-test-image-build

Fix no http server generation io waf
  ingress-generator/ReadMe.md
  ingress-generator/generate-ingress-conf.js
  ingress-generator/ingress-hosts-nginx.yml
  ingress-generator/nginx-site.conf.j2
Due: image-build-ingress-genarator, ingress-test-image-prebuild, ingress-test-image-build

Added webhook handler
  roles/mgmt/defaults/main.yml
  roles/mgmt/templates/mgmt-stack-webhook-handler.yml.j2
  roles/mgmt/templates/mgmt-stack.yml.j2
  tools/webhooks/Dockerfile
  tools/webhooks/hooks/hook-demo.sh
  tools/webhooks/hooks/hooks.yml
Due: image-build-playbooks

Removed webhook build job
  .gitlab-ci.yml
Due: none

Added additional docker login to mgmt
  roles/mgmt/tasks/install-mgmt-stack.yml
Due: image-build-playbooks

Removed unused promtail config
  ingress-generator/nginx/ssl/promtail-config.yml
Due: image-build-ingress-genarator, ingress-test-image-prebuild, ingress-test-image-build

Removed unused promtail config
  roles/docker/tasks/docker-login.yml
Due: image-build-playbooks

Use symbic image only for status monitor
  roles/mgmt/templates/mgmt-stack-symbic-status-monitor.yml.j2
Due: image-build-playbooks

Set default for docker docker_regesties
  roles/mgmt/tasks/install-mgmt-stack.yml
Due: image-build-playbooks

Enable auto update group
  pb_maintenance.yml
  roles/maintenance/tasks/system-updates.yml
Due: image-build-playbooks

Added var reset to maintenance
  roles/maintenance/tasks/system-updates.yml
Due: image-build-playbooks

Use copy command instead of rsync
  roles/docker-deploy/tasks/main.yml
  roles/mgmt/tasks/install-mgmt-stack.yml
Due: image-build-playbooks

Use optional redirect in default ingress site
  ingress-generator/ingress-hosts-nginx.yml
  ingress-generator/nginx-default-site.conf.j2
  ingress-generator/nginx-site.conf.j2
Due: image-build-ingress-genarator, ingress-test-image-prebuild, ingress-test-image-build

Revert "Use optional redirect in default ingress site"
  ingress-generator/ingress-hosts-nginx.yml
  ingress-generator/nginx-default-site.conf.j2
  ingress-generator/nginx-site.conf.j2
Due: image-build-ingress-genarator, ingress-test-image-prebuild, ingress-test-image-build

Use optional redirect in default ingress site
  ingress-generator/nginx-default-site.conf.j2
Due: image-build-ingress-genarator, ingress-test-image-prebuild, ingress-test-image-build

Uniform booleans for ingress generator
  ingress-generator/generate-ingress-conf.js
  ingress-generator/ingress-hosts-nginx.yml
  ingress-generator/nginx-default-site.conf.j2
  ingress-generator/nginx-site.conf.j2
  roles/nginx/templates/nginx-default-site.conf.j2
  roles/nginx/templates/nginx-site.conf.j2
Due: image-build-playbooks, image-build-ingress-genarator, ingress-test-image-prebuild, ingress-test-image-build

More verbose restart output
  pb_restart_app.yml
Due: image-build-playbooks

Added more verbose update issue text
  roles/maintenance/tasks/system-updates.yml
Due: image-build-playbooks

Extra play for backup and updates
  ingress-generator/nginx-site.conf.j2
  pb_gitlab.yml
  pb_maintenance_backup.yml
  pb_maintenance_update.yml
Due: image-build-playbooks, image-build-ingress-genarator, ingress-test-image-prebuild, ingress-test-image-build

Ingress - Use global file for extra http conf
  ingress-generator/generate-ingress-conf.js
  ingress-generator/nginx-site.conf.j2
Due: image-build-ingress-genarator, ingress-test-image-prebuild, ingress-test-image-build

Added k8s init setup
  .gitignore
  pb_k8s.yml
  requirements.txt
  roles/k8s/common/defaults/main.yml
  roles/k8s/common/files/containerd-config.toml
  roles/k8s/common/tasks/main.yml
  roles/k8s/common/templates/00-docker-cgroup.conf.j2
  roles/k8s/common/templates/00-kublet-service.conf.j2
  roles/k8s/master/defaults/main.yml
  roles/k8s/master/tasks/install-helm.yml
  roles/k8s/master/tasks/kubeadm-init.yml
  roles/k8s/master/tasks/main.yml
  roles/k8s/notesk8s.txt
Due: image-build-playbooks

Added gitlab-ci exporter
  roles/mgmt/files/example/mgmt-prometheus/gitlab-ci-exporter-config.yml
  roles/mgmt/templates/mgmt-stack-gitlab-ci-exporter.yml.j2
  roles/mgmt/templates/mgmt-stack.yml.j2
Due: image-build-playbooks

Path conditions:
  image-build-playbooks: any of: roles/**/*, shared/**/*, pb_*, Dockerfile, requirements.txt, ansible-entrypoint.sh
  image-build-ingress-genarator: any of: ingress-generator/**/*
  ingress-test-image-prebuild: any of: ingress-generator/**/*
  ingress-test-image-build: any of: ingress-generator/**/*
