Repository hegerdes/ansible-playbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: image-build-playbooks-branch, image-build-ingress-genarator, image-build-ingress-tester

image-build-playbooks-branch:
  variables:
    BUILD_IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_BRANCH

image-build-ingress-genarator:
  variables:
    DOCKERFILE: $CI_PROJECT_DIR/ingress-generator/Dockerfile
    CONTEXT: $CI_PROJECT_DIR/ingress-generator/
    BUILD_IMAGE_TAG: $CI_REGISTRY_IMAGE/ingress-genarator:$CI_COMMIT_BRANCH

image-build-ingress-tester:
  variables:
    DOCKERFILE: $CI_PROJECT_DIR/ingress-generator/Dockerfile.test.nginx
    CONTEXT: $CI_PROJECT_DIR/ingress-generator/
    BUILD_IMAGE_TAG: $CI_REGISTRY_IMAGE/ingress-genarator:$CI_COMMIT_BRANCH
    KANIKO_NO_PUSH: 'yes'
    KANIKO_USE_CACHE: 'no'

Ingress: added ENV for certbot mail
  ingress-generator/Dockerfile.test.nginx
  ingress-generator/nginx/nginx-entrypoint.sh
Due: image-build-ingress-genarator, image-build-ingress-tester

Tune ansibe config
  ansible.cfg
Due: none

Fix docs demo command
  README.md
Due: none

Added hostnames to mgmt stack
  roles/mgmt/templates/mgmt-stack-cadvisor.yml.j2
  roles/mgmt/templates/mgmt-stack-chronograf.yml.j2
  roles/mgmt/templates/mgmt-stack-db-mongo-express.yml.j2
  roles/mgmt/templates/mgmt-stack-db-phpmyadmin.yml.j2
  roles/mgmt/templates/mgmt-stack-db-sql-metrics-exporter.yml.j2
  roles/mgmt/templates/mgmt-stack-health-pulse.yml.j2
  roles/mgmt/templates/mgmt-stack-heimdall.yml.j2
  roles/mgmt/templates/mgmt-stack-ngix-exporter.yml.j2
  roles/mgmt/templates/mgmt-stack-traefik.yml.j2
  roles/mgmt/templates/mgmt-stack-wiregurd.yml.j2
  roles/mgmt/templates/mgmt-stack.yml.j2
Due: image-build-playbooks-branch

Added quotes for sql connection
  roles/mgmt/templates/mgmt-stack-db-sql-metrics-exporter.yml.j2
Due: image-build-playbooks-branch

Set default for deploy base dir
  roles/docker-deploy/defaults/main.yml
Due: image-build-playbooks-branch

Added alerts
  roles/mgmt/files/srv/mgmt-prometheus/rules/common_alerts.yml
  roles/mgmt/files/srv/mgmt-prometheus/rules/sql_alerts.yml
Due: image-build-playbooks-branch

Removed quotes from sql exporter env
  roles/mgmt/templates/mgmt-stack-db-sql-metrics-exporter.yml.j2
Due: image-build-playbooks-branch

Fix persistent data stor dir in alertmanager
  roles/mgmt/templates/mgmt-stack.yml.j2
Due: image-build-playbooks-branch

Added pipefail
  Dockerfile
Due: image-build-playbooks-branch

Added option to TLS passthrough
  ingress-generator/nginx-site.conf.j2
Due: image-build-ingress-genarator, image-build-ingress-tester

Added appamor to common role
  roles/common/tasks/main.yml
Due: image-build-playbooks-branch

Improved default vars
  roles/common/tasks/install-hostnames.yml
  roles/docker-deploy/defaults/main.yml
  roles/promtail/tasks/main.yml
Due: image-build-playbooks-branch

Updated docs for ingress generator
  ingress-generator/ReadMe.md
  ingress-generator/ingress-hosts-nginx.yml
Due: image-build-ingress-genarator, image-build-ingress-tester

Maintenance role now adds gitlab project info to issue
  roles/maintenance/tasks/system-updates.yml
Due: image-build-playbooks-branch

Docs updated to new nginx version
  ingress-generator/Dockerfile
  ingress-generator/Dockerfile.test.nginx
  ingress-generator/ReadMe.md
  roles/maintenance/defaults/main.yml
Due: image-build-playbooks-branch, image-build-ingress-genarator, image-build-ingress-tester

Convert j2 file to yml at templating
  roles/docker-deploy/tasks/deploy-stack.yml
Due: image-build-playbooks-branch

Improved deploy-role readability
  roles/docker-deploy/defaults/main.yml
  roles/docker-deploy/handlers/main.yml
  roles/docker-deploy/tasks/deploy-stack.yml
Due: image-build-playbooks-branch

Ingress extract target hosts
  .gitignore
  ingress-generator/generate-ingress-conf.js
  ingress-generator/ingress-hosts-nginx.yml
Due: image-build-ingress-genarator, image-build-ingress-tester

Added task to set system limits
  roles/common/defaults/main.yml
  roles/common/tasks/main.yml
  tools/logs/getLogs.js
Due: image-build-playbooks-branch

changed default image status minitor
  roles/mgmt/templates/mgmt-stack-health-pulse.yml.j2
  tools/docker-compose-ara.yml
Due: image-build-playbooks-branch

set apt source name
  roles/docker/tasks/install-docker.yml
  roles/influxdb/tasks/install-influxdb.yml
  roles/mongodb/tasks/install-mongodb.yml
  roles/nginx/tasks/install-nginx.yml
Due: image-build-playbooks-branch

added launch def for ingress generator added templates for ingress boday templates
  .vscode/launch.json
  ingress-generator/generate-ingress-conf.js
Due: image-build-ingress-genarator, image-build-ingress-tester

Fix task order in deploy role
  roles/common/tasks/main.yml
  roles/docker-deploy/tasks/deploy-stack.yml
  roles/docker/tasks/docker-portainer.yml
Due: image-build-playbooks-branch

Detect changes in letsencrypt domains
  ingress-generator/Dockerfile.test.nginx
  ingress-generator/nginx/nginx-entrypoint.sh
Due: image-build-ingress-genarator, image-build-ingress-tester

Squashed commit: Added hosts resolve function
  .gitignore
  .gitlab-ci.yml
  ingress-generator/generate-ingress-conf.js
  ingress-generator/ingress-hosts-nginx.yml
  ingress-generator/package.json
Due: image-build-ingress-genarator, image-build-ingress-tester

Added pgadmin
  roles/mgmt/defaults/main.yml
  roles/mgmt/templates/mgmt-stack-db-pgadmin.yml.j2
Due: image-build-playbooks-branch

Added certbot staging option
  ingress-generator/nginx/nginx-entrypoint.sh
Due: image-build-ingress-genarator, image-build-ingress-tester

Fix floating ip setup
  shared/set-floting-ip.yml
Due: image-build-playbooks-branch

Updated CI to use ingress template jobs
  .gitlab-ci.yml
Due: none

Updated CI to use ingress template jobs
  .gitlab-ci.yml
  ingress-generator/generate-ingress-conf.js
Due: image-build-ingress-genarator, image-build-ingress-tester

Updated CI to use ingress template jobs
  .gitlab-ci.yml
  ingress-generator/generate-ingress-conf.js
  ingress-generator/ingress-hosts-nginx.yml
Due: image-build-ingress-genarator, image-build-ingress-tester

Set trap to fail backup script if command fails
  roles/influxdb/files/backup_db-docker.sh
  roles/influxdb/files/backup_db.sh
  roles/mariadb/files/backup_db-docker.sh
  roles/mariadb/files/backup_db.sh
  roles/mongodb/files/backup_db-docker.sh
  roles/mongodb/files/backup_db.sh
Due: image-build-playbooks-branch

Improved error handling
  ingress-generator/generate-ingress-conf.js
Due: image-build-ingress-genarator, image-build-ingress-tester

Improved error handling for ingres generator
  ingress-generator/generate-ingress-conf.js
  ingress-generator/nginx/nginx.conf
Due: image-build-ingress-genarator, image-build-ingress-tester

Improved error handling for ingres generator
  ingress-generator/generate-ingress-conf.js
Due: image-build-ingress-genarator, image-build-ingress-tester

More verbose nginx startup script
  ingress-generator/nginx/nginx-entrypoint.sh
Due: image-build-ingress-genarator, image-build-ingress-tester

Path conditions:
  image-build-playbooks-branch: any of: roles/**/*, shared/**/*, pb_*, Dockerfile, requirements.txt
  image-build-ingress-genarator: any of: ingress-generator/**/*
  image-build-ingress-tester: any of: ingress-generator/**/*
