Repository hegerdes/ansible-playbooks: changes, and which GitLab CI jobs are due for each by the changed paths.
All: image-build-playbooks-branch, build-ingress-genarator

image-build-playbooks-branch:
  variables:
    BUILD_IMAGE_TAG: $CI_REGISTRY_IMAGE:$CI_COMMIT_BRANCH

build-ingress-genarator:
  variables:
    DOCKERFILE: $CI_PROJECT_DIR/ingress-generator/Dockerfile
    CONTEXT: $CI_PROJECT_DIR/ingress-generator/
    BUILD_IMAGE_TAG: $CI_REGISTRY_IMAGE/ingress-genarator:$CI_COMMIT_BRANCH

Added container scan
  .gitlab-ci.yml
Due: none

Added mongodb exporter
  roles/mgmt/defaults/main.yml
  roles/mgmt/templates/mgmt-stack-db-mongo-metrics-exporter.yml.j2
  roles/mongodb/templates/mongodb-docker-compose.yml.j2
Due: image-build-playbooks-branch

Updated backup tasks
  .gitlab-ci.yml
  roles/maintenance/tasks/host-backups.yml
  roles/maintenance/tasks/main.yml
Due: image-build-playbooks-branch

Added persistany to pgadmin service
  roles/mgmt/templates/mgmt-stack-db-pgadmin.yml.j2
Due: image-build-playbooks-branch

Updated container scan template
  .gitlab-ci.yml
Due: none

Mongodb exporter more verbose config
  roles/mgmt/templates/mgmt-stack-db-mongo-metrics-exporter.yml.j2
Due: image-build-playbooks-branch

Updated gitpab issue posts
  roles/maintenance/tasks/system-updates.yml
  shared/gitlab-post-issue.yml
  shared/gitlab-post-log.yml
  shared/gitlab-update-json-file.yml
Due: image-build-playbooks-branch

Updated nginx exporter
  roles/mgmt/defaults/main.yml
  roles/mgmt/templates/mgmt-stack-ngix-exporter.yml.j2
Due: image-build-playbooks-branch

Added incread clint header size in default nginx conf
  ingress-generator/nginx/nginx.conf
Due: build-ingress-genarator

Updated nginx version
  ingress-generator/Dockerfile
  ingress-generator/Dockerfile.test.nginx
  ingress-generator/ReadMe.md
Due: build-ingress-genarator

Refactored docker deploy stacks
  roles/docker-deploy/README.md
  roles/docker-deploy/defaults/main.yml
  roles/docker-deploy/tasks/deploy-stack.yml
  roles/docker-deploy/tasks/doploy-service.yml
  roles/docker-deploy/tasks/main.yml
  roles/mgmt/templates/mgmt-stack-health-pulse.yml.j2
  roles/minio/tasks/main.yml
Due: image-build-playbooks-branch

Removed debug msg
  roles/docker-deploy/tasks/deploy-stack.yml
Due: image-build-playbooks-branch

Added healthpulse to mgmt-network
  roles/mgmt/templates/mgmt-stack-health-pulse.yml.j2
Due: image-build-playbooks-branch

Renamed scan stage
  .gitlab-ci.yml
Due: none

Removed debug statement
  roles/maintenance/tasks/main.yml
  shared/gitlab-post-log.yml
Due: image-build-playbooks-branch

Added simpleproxy role
  roles/simpleproxy/README.md
  roles/simpleproxy/defaults/main.yml
  roles/simpleproxy/tasks/main.yml
  roles/simpleproxy/tasks/service.yml
  roles/simpleproxy/templates/simpleproxy.service.j2
Due: image-build-playbooks-branch

Added simpleproxy role to common
  roles/common/tasks/main.yml
  roles/simpleproxy/tasks/service.yml
  roles/simpleproxy/templates/simpleproxy.service.j2
Due: image-build-playbooks-branch

Fixes for dimple proxy
  roles/docker-deploy/tasks/doploy-service.yml
  roles/docker-deploy/tasks/main.yml
  roles/simpleproxy/tasks/main.yml
  roles/simpleproxy/templates/simpleproxy.service.j2
Due: image-build-playbooks-branch

Updated commit ref name in ci file
  .gitlab-ci.yml
Due: none

Added configurable prometheus retention
  roles/mgmt/defaults/main.yml
  roles/mgmt/templates/mgmt-stack.yml.j2
Due: image-build-playbooks-branch

Fix archive script if there are no targets
  roles/mgmt/templates/archive-backups.sh.j2
Due: image-build-playbooks-branch

Use ssl_client_escaped_cert instead of ssl_client_cert
  ingress-generator/ReadMe.md
  ingress-generator/ingress-hosts-nginx.yml
Due: build-ingress-genarator

Fix docker swarm deploy mode with worker node
  roles/docker-deploy/tasks/main.yml
Due: image-build-playbooks-branch

Update nginx waf statup script for changed certbot domains
  .gitlab-ci.yml
  ingress-generator/nginx/nginx-entrypoint.sh
Due: build-ingress-genarator

Fix enpty env compare in waf-startup script
  ingress-generator/nginx/nginx-entrypoint.sh
Due: build-ingress-genarator

Docs update
  README.md
Due: none

Updated nginx version
  ingress-generator/Dockerfile
  ingress-generator/Dockerfile.test.nginx
  ingress-generator/ReadMe.md
  ingress-generator/nginx/nginx-entrypoint.sh
Due: build-ingress-genarator

Make deploy wait timeout configurable via env
  roles/docker-deploy/defaults/main.yml
  roles/docker-deploy/handlers/main.yml
  roles/docker-deploy/tasks/deploy-stack.yml
Due: image-build-playbooks-branch

Added restart playbook
  pb_restart_app.yml
Due: image-build-playbooks-branch

Updated db backup scripts
  roles/maintenance/tasks/host-backups.yml
  roles/mariadb/files/backup_db-docker.sh
  roles/mariadb/files/backup_db.sh
  roles/mgmt/templates/mgmt-stack-db-mongo-metrics-exporter.yml.j2
  roles/mongodb/files/backup_db-docker.sh
  roles/mongodb/files/backup_db.sh
  shared/gitlab-post-issue.yml
Due: image-build-playbooks-branch

Improved backup pb formatting
  roles/maintenance/tasks/host-backups.yml
Due: image-build-playbooks-branch

Added labels and constraints to the mgmt-stack
  roles/common/tasks/main.yml
  roles/mgmt/files/example/health-pulse/.env
  roles/mgmt/files/example/mgmt-grafana/grafana_admin_pw.txt
  roles/mgmt/files/example/mgmt-loki/loki-config.yml
  roles/mgmt/files/example/mgmt-prometheus/alertmanager.yml
  roles/mgmt/files/example/mgmt-prometheus/prometheus.yml
  roles/mgmt/files/example/mgmt-prometheus/rules/.gitkeep
  roles/mgmt/files/example/mgmt-prometheus/rules/common_alerts.yml
  roles/mgmt/files/example/mgmt-prometheus/rules/sql_alerts.yml
  roles/mgmt/files/srv/mgmt-loki/.gitkeep
  roles/mgmt/files/srv/mgmt-prometheus/.gitkeep
  roles/mgmt/tasks/install-mgmt-stack.yml
  roles/mgmt/templates/mgmt-stack-chronograf.yml.j2
  roles/mgmt/templates/mgmt-stack-db-mongo-express.yml.j2
  roles/mgmt/templates/mgmt-stack-db-mongo-metrics-exporter.yml.j2
  roles/mgmt/templates/mgmt-stack-db-pgadmin.yml.j2
  roles/mgmt/templates/mgmt-stack-db-phpmyadmin.yml.j2
  roles/mgmt/templates/mgmt-stack-db-sql-metrics-exporter.yml.j2
  roles/mgmt/templates/mgmt-stack-health-pulse.yml.j2
  roles/mgmt/templates/mgmt-stack-heimdall.yml.j2
  roles/mgmt/templates/mgmt-stack-ngix-exporter.yml.j2
  roles/mgmt/templates/mgmt-stack-traefik.yml.j2
  roles/mgmt/templates/mgmt-stack-wiregurd.yml.j2
  roles/mgmt/templates/mgmt-stack.yml.j2
Due: image-build-playbooks-branch

Fix typo in nginx exporter
  roles/mgmt/templates/mgmt-stack-nginx-exporter.yml.j2
Due: image-build-playbooks-branch

Make mgmt name configurable
  roles/mgmt/tasks/install-mgmt-stack.yml
Due: image-build-playbooks-branch

Added mattermost notify
  roles/maintenance/defaults/main.yml
  roles/maintenance/tasks/system-updates.yml
Due: image-build-playbooks-branch

Fix gitlab issue post bug
  roles/maintenance/tasks/system-updates.yml
  shared/gitlab-post-issue.yml
Due: image-build-playbooks-branch

Bix condition in mattermost notify
  roles/maintenance/tasks/system-updates.yml
Due: image-build-playbooks-branch

Fix duplicate log file bug
  roles/maintenance/tasks/system-updates.yml
Due: image-build-playbooks-branch

Allow compose deploy again
  ansible-entrypoint.sh
  roles/docker-deploy/tasks/main.yml
Due: image-build-playbooks-branch

Path conditions:
  image-build-playbooks-branch: any of: roles/**/*, shared/**/*, pb_*, Dockerfile, requirements.txt, ansible-entrypoint.sh
  build-ingress-genarator: any of: ingress-generator/**/*
